.home-container {
    text-align: center;
    padding: 50px;
    font-family: 'Segoe UI', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding: 0;
}

.btn-link {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-link:hover {
    background-color: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}